*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 84.37em) {
    font-size: 56.2%;
  }
}

body {
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;
  position: relative;

  /* Dark Theme Styles */
  background-color: var(--black-50);
  font-family: "Uncial Antiqua", system-ui;
}

.main-content {
  flex-grow: 1;
  padding: 1rem 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-content__container {
  width: 65%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 84.37em) {
    width: 75%;
  }

  @media screen and (max-width: 75em) {
    width: 80%;
  }

  @media screen and (max-width: 62.5em) {
    width: 90%;
  }

  @media screen and (max-width: 40.6em) {
    width: 100%;
  }
}

.main-content__container {
  margin-top: 7rem;
  justify-content: center;
  align-items: center;

  gap: 3rem;
  margin-bottom: 5rem;
}
