.header {
  width: 100%;
  padding: 1rem 2.4rem;

  /* Dark Theme Colors */
  background-color: var(--red-dark);
}

.header a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.header__container {
  margin: 0 auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  padding: 1.2rem 3rem;

  /* Dark Theme Styles */
  background-color: var(--black-50);
  font-family: "Sekuya", system-ui;

  @media screen and (max-width: 75em) {
    width: 50%;
  }

  @media screen and (max-width: 62.5em) {
    width: 60%;
  }

  @media screen and (max-width: 52em) {
    width: 80%;
  }

  @media screen and (max-width: 40.6em) {
    flex-direction: column;
    width: 80%;
    gap: 2rem;
    padding-bottom: 2rem;
    margin-top: 6rem;
  }

  @media screen and (max-width: 23.12em) {
    width: 100%;
  }
}

.header__title {
  /* Dark Theme Styles */
  font-size: 1.8rem;
  color: var(--red-medium);
}

.header__nav ul {
  display: flex;
  gap: 0.8rem;
  list-style: none;
}

.header__nav > ul > li a {
  padding: 0.5rem;
  min-width: 1.5rem;
  min-height: 5rem;
  border-radius: 0.3rem;
  /* Dark Theme Styles */
  background-color: var(--red-medium);
  color: var(--off-white-100);
}

.header__nav > ul > li a:hover {
  background-color: var(--red-dark);
  color: var(--red-light);
}

.header__nav ul li .active {
  background-color: var(--off-white-100) !important;
  color: var(--red-medium);
}

.header__logo-title {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.header__img-container {
  height: 3rem;
  width: auto;
}

.header__img-container img {
  width: 100%;
  height: 100%;
}
