.header {
  width: 100%;
  padding: 1rem 2.4rem;

  /* Dark Theme Colors */
  background-color: var(--red-dark);
}

.header a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.header__container {
  margin: 0 auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  padding: 1.2rem 3rem;

  /* Dark Theme Styles */
  background-color: var(--black-50);
  font-family: "Sekuya", system-ui;
}

.header__title {
  /* Dark Theme Styles */
  font-size: 1.8rem;
  color: var(--red-medium);
}

.header__nav ul {
  display: flex;
  gap: 0.8rem;
  list-style: none;
}

.header__nav > ul > li {
  min-width: 1.5rem;
  min-height: 1.5rem;
  border-radius: 0.3rem;
  padding: 0.5rem;

  /* Dark Theme Styles */
  background-color: var(--red-medium);
  color: var(--off-white-100);
}

.header__nav > ul > li:hover {
  background-color: var(--red-dark);
  color: var(--red-light);
}

.header__nav > ul > li .active {
  background-color: var(--off-white-100);
  color: var(--red-medium);
}
