:root {
  /* THEMES BASE COLORS */
  /* Dark Theme */
  --red-dark: #4d1313;
  --red-medium: #551f22;
  --red-light: #711b20;

  --off-white-50: #7c6d65;
  --off-white-100: #b59785;

  --black-50: #130f0d;
  --black-100: #1e1717;

  /* SPACING */
}
